In [3]:
import random
import numpy as np
import pandas as pd

In [4]:
random.randint(1,100) #1 a 100 nm considerados nanomateriales

13

In [5]:
i = np.arange(4)

df = pd.DataFrame(index=i,columns=['diameter', 'bi', 'ci', 'di', 'ei', 'fi', 'pi', 'Nanoestructura'], dtype='float')
df.index.name = "$i$"

df['diameter'] = [0.0, 0.85, 0.2, -0.15]
df['Nanoestructura'] = ['Nanoalambre', 'Nanotubo', 'Nanopartícula', '']

df.round(2)

     diameter  bi  ci  di  ei  fi  pi Nanoestructura
$i$
0        0.00 NaN NaN NaN NaN NaN NaN    Nanoalambre
1        0.85 NaN NaN NaN NaN NaN NaN       Nanotubo
2        0.20 NaN NaN NaN NaN NaN NaN  Nanopartícula
3       -0.15 NaN NaN NaN NaN NaN NaN